body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #323557;
    background: linear-gradient(360deg, rgba(50, 53, 87, 1) 0%, rgba(61, 63, 107, 1) 100%);
    color: #fff;
}

.signup-container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    padding: 2rem;
    gap: 3rem;
}

/* Illustration */
.signup-illustration {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.signup-illustration img {
    max-width: 100%;
    height: 600px;
    padding-bottom: 50px;
}

/* Form */
.signup-form {
    flex: 1;
    max-width: 420px;
}

.signup-form h1 {
    font-size: 2.2rem;
    margin-bottom: 0.2em;
}

.signup-form p {
    color: #ddd;
    margin-bottom: 2rem;
}

.input-box {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    border: 1.5px solid #ccc;
    border-radius: 6px;
    padding: 0.8rem 1rem;
    margin-bottom: 1rem;
    background-color: #e5e6ff11;
}

.input-box i {
    font-size: 1.2rem;
    color: #fff;
}

.input-box input {
    border: none;
    outline: none;
    background: none;
    color: #fff;
    flex: 1;
    font-size: 1rem;
}

.input-box input::placeholder {
    color: #fff;
}

.btn-submit {
    width: 100%;
    padding: 0.9rem;
    background-color: #ffd499;
    color: #2f3154;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-submit:hover {
    background-color: #e6b87a;
    color: #fff;
}

.alt {
    text-align: center;
    margin: 1.5rem 0 1rem;
    font-size: 0.9rem;
    color: #ccc;
}

.btn-google {
    width: 100%;
    padding: 0.7rem;
    border: 1.5px solid #ddd;
    border-radius: 8px;
    background: #fff;
    color: #333;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn-google img {
    width: 20px;
    height: 20px;
}

.btn-google:hover {
    background-color: #f5f5f5;
}

/* Responsive */
@media (max-width: 900px) {
    .signup-container {
        flex-direction: column;
        text-align: center;
    }

    .signup-illustration {
        display: none;
        /* move illustration above form */
    }

    .signup-form {
        width: 100%;
    }
}